[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
intervals = "*"
django-cors-headers = "*"
google-cloud-secret-manager = "*"
gunicorn = "*"
psycopg2-binary = "*"
environ = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.11"
